{% extends "layout.html" %}

{% block content %}

<!-- Page to register for an account of the website -->
<div class="container-fluid text-md-left mt-5">
  <div class="col-md-12">
    <h1>{{ title }}</h1>
    <form id="registrationForm" action="" method="post">
      {{ form.hidden_tag() }}
      <p>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}<br>
        {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      <ul>
        <li>Only alphanumeric characters: 0~9, a~z, A~Z and _.</li>
      </ul>
      </p>
      <p>
        {{ form.displayname.label }}<br>
        {{ form.displayname(size=32) }}<br>
        {% for error in form.displayname.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      <ul>
        <li>Only alphanumeric characters: 0~9, a~z, A~Z and _.</li>
        <li>Space allowed, but not at the beginning or the end</li>
      </ul>
      </p>
      <p>
        {{ form.email.label }}<br>
        {{ form.email(size=64) }}<br>
        {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}<br>
        {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      <ul>
        <li>At least 1 digit.</li>
        <li>At least 1 lower case letter.</li>
        <li>At least 1 upper case letter.</li>
        <li>Length between 6 and 30.</li>
      </ul>
      </p>
      <p>
        {{ form.password2.label }}<br>
        {{ form.password2(size=32) }}<br>
        {% for error in form.password2.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <br/>
      {{ form.recaptcha }}
      <br/>
      <p>{{ form.submit() }}</p>
    </form>
  </div>
</div>
{% endblock %}
