{% extends "layout.html" %}

{% block content %}

<!-- Reset Password Form -->
<!-- Will send a passoword reset link to the email of your choice upon form submission -->
<div class="container-fluid text-md-left mt-5">
    <div class="col-md-12">
        <h1>Reset Password</h1>
        <!-- Start of Form -->
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.email.label }}<br>
                {{ form.email(size=64) }}<br>
                {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
</div>

{% endblock %}
