{% extends "layout.html" %}

{% block content %}
<!-- A classic settings page for all of the users information -->
<!-- Contains Username, Email, and Password -->
<!-- The edit link lets you edit the email and change your password -->
<div class="container-fluid text-md-left mt-5">
  <div class="col-md-12">
    <h1>{{ title }}</h1>
    <table>
      <tr><a href="{{ url_for('settings') }}">Overview</a></tr>
      <tr><a href="{{ url_for('settings', field='email') }}">Email</a></tr>
      <tr><a href="{{ url_for('settings', field='password') }}">Password</a></tr>
    </table>
    <hr>

    {% if field == 'email' %}

    <strong>Current Email</strong>
    <p>{{ current_user.email }}</p>

    <form action="" method="post">
      {{ form.hidden_tag() }}
      <p>
        {{ form.email.label }}<br>
        {{ form.email(size=32) }}<br>
        {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>{{ form.submit() }}</p>
    </form>
    <p><a href="{{ url_for('settings') }}">Cancel</a></p>

    {% elif field == 'password' %}

    <form action="" method="post">
      {{ form.hidden_tag() }}
      <p>
        {{ form.current_password.label }}<br>
        {{ form.current_password(size=32) }}<br>
        {% for error in form.current_password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}<br>
        {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      <ul>
        <li>At least 1 digit.</li>
        <li>At least 1 lower case letter.</li>
        <li>At least 1 upper case letter.</li>
        <li>Length between 6 and 30.</li>
      </ul>
      </p>
      <p>
        {{ form.password2.label }}<br>
        {{ form.password2(size=32) }}<br>
        {% for error in form.password2.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>{{ form.submit() }}</p>
    </form>
    <p><a href="{{ url_for('settings') }}">Cancel</a></p>

    {% else %} {# Overview #}

    <strong>Username</strong>
    <p>{{ current_user.username }}</p>
    {# not allow to edit username #}

    <strong>Email</strong>
    <p>{{ current_user.email }}</p>
    <p><a href="{{ url_for('settings', field='email') }}">Edit</a></p>

    <strong>Password</strong>
    <p>******</p>
    <p><a href="{{ url_for('settings', field='password') }}">Edit</a></p>
    {% endif %}

    {% if user.authority == 'admin' %}
    <hr>
    <span style="background-color: green; font-size:20px; color: white; border-radius:15px;padding:0px 7.5px;">admin</span>
    <p><a href="https://docs.google.com/document/d/10FjabTduP6gXavbYvYKc1t_mU1WlL7zpkk6jXHpYizc/edit?usp=sharing">Admin Help Documentation</a></p>
    {% endif %}
  </div>
</div>
{% endblock %}
