{% extends "layout.html" %}

{% block content %}

<div class="col-md-12 text-center"><h1>Important Concepts</h1></div>

<div class = "container">
  <div class = "card">
    <div class = "card-body">

      <p><a href="{{ url_for('download', filename='Concepts.pdf') }}">Download this page as PDF</a></p>

      <img src = "..\static\images\important_concept.jpg" style="max-width:100%; max-height:300px;
          padding-bottom:10px;display:block;margin-left:auto;margin-right:auto;"/>

      <h4>What is financial literacy?</h4>
      <p>According to Investopedia, financial literacy is about having a strong foundation of 
        financial statement, terminology, concepts and the ability to use financial skills to make an informed decision in 
        the area of personal financial management, budgeting, and investing.</p>
      <p>For additional information click on the below link
        <br>
        <a href="https://www.investopedia.com/terms/f/financial-literacy.asp">Financial Literacy Definition</a>
      </p>

      <h4>Why is financial literacy so important?</h4>
      <p>Being financially literate can help support various life goals and assist with creating 
        the lifestyle one desires. Financial literacy can result in a positive outlook for the 
        financial future of yourself and your family if coupled with a clear assessment of your 
        family's financial health. Additionally, having a strong foundation in financial literacy 
        can help with the initial set up and management of the following areas without or with the 
        limited assistance of a professional:</p>
      <ul>
        <li><b>Estate planning</b>
          <ul>
            <li>Will</li>
            <li>Trust</li>
            <li>Life Insurance</li>
            <li>Savings account</li>
            <li>Asset management</li>
          </ul>
        </li>
        <li><b>Budgeting</b>
          <ul>
            <li>Starting and running a business</li>
            <li>Asset to debt ratio understanding</li>
            <li>Educational planning</li>
            <li>Retirement monetary goal </li>
          </ul>
        </li>
        <li><b>Investing</b>
          <ul>
            <li><u>Investments</u>: stocks, bonds, mutual funds, exchange-traded funds (ETFs), 
              certificates of deposit (CD), options, commodities, real estate, cryptocurrency, 
              precious metals, etc.</li>
            <li><u>Retirement</u>: 401k, Individual Retirement Accounts (IRAs), Guaranteed Income 
              Annuities (GIAs), pensions, etc.</li>
          </ul>
        </li>
      </ul>

      <img src = "..\static\images\financial_plan.jpg" style="max-width:100%; max-height:300px;
          padding-bottom:10px;display:block;margin-left:auto;margin-right:auto;"/>

      <h4>What is a financial plan?</h4>
      <p>A financial plan is a document based on three major points:</p>
      <ul>
        <li>Assessment of a person’s current financial situation </li>
        <ul>
          <li>Leverage: debt / equity</li>
          <li>Liquidity: cash / assets</li>
        </ul>
        <li>Long-term monetary goals and expectations</li>
        <li>Strategies to achieve the set goals </li>
      </ul>
      <p>There is no standardized financial plan that works for everyone. A financial plan should 
        be exhaustive but also highly individualized based on the family's situation, risk 
        tolerance, and desired future lifestyle. </p>
      <p>For additional information click on the below link
        <br>
        <a href="https://www.investopedia.com/terms/f/financial_plan.asp">Financial Plan Definition</a>
      </p>

      <h4>Why is financial planning so important?</h4>
      <p>Financial planning should be viewed as critical matters that must be addressed by all 
        adults, but particularly for adults with dependents. To protect their dependents' future 
        and to avoid leaving their loved ones bearing financial burdens, parents should be prepared 
        to face life-changing situations such as the loss of income, disability, or death. A 
        comprehensive financial plan provides peace of mind, protection, and security for everyone 
        involved.</p>
      <p>Parents of children with disabilities face unique challenges that make setting up a sound 
        financial plan for their future critical. When planning, consideration should be given 
        to the severity and longevity of the dependent with disabilities; as well as the possibility 
        of needing to receive public-based benefits such as Social Security Income (SSI) or 
        Medicaid when the child becomes an adult.</p>

      <img src = "..\static\images\special_needs_planning.jpg" style="max-width:100%; max-height:300px;
          padding-bottom:10px;display:block;margin-left:auto;margin-right:auto;"/>

      <h4>Special needs planning</h4>
      <p>Special needs financial planning is a must for every family as it works to maintain 
        government benefit eligibility while optimizing and enriching the lifestyle of the 
        loved one with disabilities.</p>
      <p>Special need planning is comprised of the following topics that will be discussed further 
        on this website under the “Information tab”:</p>
      <ul>
        <li><b>Estate planning</b>
          <ul>
            <li>Trust</li>
            <li>Guardianship</li>
            <li>Conservatorship</li>
            <li>Letter of intent</li>
          </ul>
        </li>
        <li><b>Financial planning</b>
          <ul>
            <li>Bank Account types
              <ul>
                <li>Custodial</li>
                <li>Joint </li>
                <li>ABLE </li>
              </ul>
            </li>
            <li>Public benefits
              <ul>
                <li>Medicaid</li>
                <li>Social Security Income</li>
                <li>Social Security Disability Income</li>
                <li>Representative payee</li>
                <li>Other public programs</li>
                <li>Additional public programs</li>
              </ul>
            </li>
          </ul>
        </li>
        <li><b>Legal information</b>
          <ul>
            <li>The federal Omnibus Budget Reconciliation Act of 1993</li>
            <li>Special Needs Trust Fairness Act</li>
            <li>Achieving a Better Life Experience (ABLE) Act of 2014</li>
            <li>The Disabled Military Child Protection Act</li>
            <li>The Health Insurance Portability and Accountability Act of 1996 (HIPAA)</li>
          </ul>
        </li>
        <li><b>Health information</b>
          <ul>
            <li>Durable Power of Attorney (DPOA)</li>
            <li>Advocate</li>
            <li>Healthcare proxy</li>
          </ul>
        </li>
      </ul>
      
    </div>
  </div>
</div>


{% endblock %}
