{% extends "layout.html" %}

{% block content %}
<div class="container-fluid text-md-left mt-5">
  <div class="col-md-12">

    <div class="col-md-12 text-center">
      <h2>Contact Us</h2>
    </div>

    <div class = "container" style="width:600px; margin:0 auto;">
      <div class = "card">
        <div class = "card-body">
    
          {% if success %}
          <p>Thank you for your message. We'll get back to you shortly.</p>
          <p><a href="{{ url_for('contactUs') }}">Return</a></p>

          {% else %}

          {% for message in form.name.errors %}
          <div class="flash">{{ message }}</div>
          {% endfor %}

          {% for message in form.email.errors %}
          <div class="flash">{{ message }}</div>
          {% endfor %}

          {% for message in form.subject.errors %}
          <div class="flash">{{ message }}</div>
          {% endfor %}

          {% for message in form.message.errors %}
          <div class="flash">{{ message }}</div>
          {% endfor %}

          <form action="{{ url_for('contactUs') }}" method=post>
            {{ form.hidden_tag() }}

            {{ form.name.label }}
            {{ form.name }}

            {{ form.email.label }}
            {{ form.email }}

            {{ form.subject.label }}
            {{ form.subject }}

            {{ form.message.label }}
            {{ form.message }}

            {{ form.submit }}
          </form>
          {% endif %}

        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
