{% extends "layout.html" %}

{% block content %}

<div class="row">
  <div class="col-md-12 text-center">
    <img src = "..\static\images\transparent-logo.png" width = "200px" height = "200px">
    <h1>Welcome to Thorough Way</h1>
  </div>

  <hr>

  <div class ="container">
    <img src = "..\static\images\image (5).png" style="max-width:100%; max-height:300px;
        padding-bottom:10px;display:block;margin-left:auto;margin-right:auto;"/>
    <h3 id = "overview"> Overview </h3>
    <p>&emsp;&emsp;
      Hi, my name is Aimee. I am the mother of a beautiful boy who has autism. As my son was growing 
      up, I noticed that it was difficult to find a centralized location on the internet with 
      comprehensive financial resources for parents who encounter unique challenges. So, I 
      decided to create The Thorough Way website based on our personal experience with 
      creating a plan for the future of our child. Planning for the future is a daunting task 
      for most, but for parents that have loved ones with disabilities, this feeling 
      increases tremendously. We face additional pressures to have an inclusive financial plan 
      in place sooner than later, because of the added complexities surrounding the 
      management of our children’s needs. 
    </p>

    <p>&emsp;&emsp;
      Death is inevitable, but we can take action in the areas that we can control. As a 
      parent of a child with unique challenges, I believe it is extremely important to have a 
      thorough plan in place to secure and protect yourselves and your families financially 
      via a financial plan. 
    </p>

    <p>&emsp;&emsp;
      As I was trying to set up a plan for my child, I learned quickly that the task would be 
      extensive and the amount of information available was both overwhelming and 
      decentralized. I remember telling my husband that it would be so much easier to have a 
      centralized place with all of the information required to educate parents on the 
      process of creating a thorough financial plan for their child’s future. This is how the 
      idea of Thorough Way was born. I hope that you will find this website helpful and that 
      you will share the knowledge you acquire with others. Because I believe that together 
      we learn and together we grow. 
    </p>

    <img src = "..\static\images\image (3).png" style="max-width:100%; max-height:300px;
        padding-bottom:10px;display:block;margin-left:auto;margin-right:auto;"/>
    <h3 id = "mission_statement">Mission Statement</h3>
    <p>&emsp;&emsp;
      To educate, empower and create a network for people with disabilities, their 
      caregivers, and team members to plan for a future of limitless possibilities because 
      our tomorrows begin today.
    </p>
  </div>
</div>

{% endblock %}
