{% extends "layout.html" %}

{% block content %}

<style>
  .container {
    display: flex;
  }
</style>

<div class="row">
  <div class="col-md-12 text-center"><h1>Special Needs Planning</h1></div>
  <div class = "container">


    <!-- Start of info card -->
    <div class="d-flex flex-row" style = "width: 75%;">
      <div class = "card">
        <div class = "card-body">
          
          <p><a href="{{ url_for('download', filename='Information.pdf') }}">Download this page as PDF</a></p>

          <h2 id="Estate_Planning"><b>Estate Planning</b></h2>
          <ol type="I">
            <img src = "..\static\images\image (4)-large.jpg" style="max-width:100%; max-height:300px;
                padding-bottom:10px;display:block;margin-left:auto;margin-right:auto;"/>

            <h4 id="Assets_Management"><li>Assets Management</li></h4>
            <p>For many parents of children with disabilities, estate planning is one of the most 
              important subjects when thinking about financial planning. The main or most important 
              mistake to avoid when estate planning is to unintentionally <u><b>name your child as the 
              beneficiary</b></u> on a legal document. For example, naming your child with special 
              needs on a life insurance policy or retirement account; or leave valuable monetary 
              assets directly to the child through a will may disqualify your child from government 
              assistance such as Social Security Income and Medicaid. The reason being that a person 
              eligible for government assistance cannot hold more than $2,000 worth of assets in their 
              name.</p>

            <p>For additional information click on the below links
              <br>
              <a href="https://www.nerdwallet.com/article/insurance/life-insurance-parents-special-needs-children">
                Life Insurance Planning for Parents of Children Living With a Disability - NerdWallet</a>
              <br>
              <a href="https://www.specialneedsalliance.org/the-voice/planning-options-with-retirement-benefits-2/">
                Planning Options With Retirement Benefits | Special Needs Alliance</a>
            </p>

            <h4 id="Special_Needs_Trust"><li>Special Needs Trust</li></h4>
            <img src = "..\static\images\image (2)-large.jpg" style="max-width:100%; max-height:300px;
                padding-bottom:10px;display:block;margin-left:auto;margin-right:auto;"/>
            <p>Special Needs Trusts (SNTs), are considered to be the foundation to a sound financial 
              plan for families with disabilities and remain one of the most essential 
              planning tools for disabled individuals. SNTs are crucial for multiple reasons: to 
              maintain eligibility for government benefits while maintaining a healthy lifestyle for 
              the dependent. SNTs are also used to protect assets from waste, theft, misuse, and 
              exploitation and ensure future decisions are made by informed and competent parties for 
              the benefit of the dependent. SNTs allow parents (as well as family and friends) of 
              those with disabilities a way to provide for their child’s care and maintain a high quality of life, 
              without disqualifying them from governmental assistance. The key part to setting up a 
              trust is to find someone you can trust to oversee and manage the funds in the trust and 
              also someone that will remain loyal to the beneficiary’s needs (the individual with special 
              needs) and have his/her best interest at heart.</p>

            <h5 id="First-party_or_self-settled_trust">First-party or self-settled trust:</h5>
            <p><ul>
              <li>A self-settled supplemental needs trust is funded with assets which the 
                individual has a legal or an equitable right to such as an inheritance, personal 
                injury settlement, or child support/alimony</li>
              <li>Irrevocable</li>
              <li>Beneficiary meets the federal definition of disability</li>
              <li>Created by the person with a disability with capacity, parent, grandparent, 
                guardian, or court</li>
              <li>Assets held for the primary benefit of the beneficiary</li>
              <li>The beneficiary is under 65 years old</li>
              <li>Contains provisions for reimbursement to the state Medicaid agency upon the death of 
                the beneficiary</li>
            </ul></p>

            <p>The trust is good for short-term planning. The purpose of a self-settled trust is to 
              exclude the trust assets from being considered as countable assets for both SSI and 
              MassHealth purposes.  </p>

            <h5 id="Third-party">Third-party:</h5>
            <p><ul>
              <li>Grantor intends to supplement available government benefits, not to support the 
                beneficiary. The trust principal is not considered to be the beneficiary's resource 
                for SSI and Medicaid purposes</li>
              <li>Revocable if left unfunded</li>
              <li>Third-party supplemental needs trust is funded by someone other than the 
                beneficiary</li>
              <li>Long term planning (upon the death of the parents): will and life insurance</li>
              <li>Irrevocable upon the death of a parent(s) or funding</li>
              <li>No payback provision, the remainder goes to beneficiaries (family members, 
                friends, or charities)</li>
            </ul></p>

            <h5 id="Pool_party">Pool party:</h5>
            <p><ul>
              <li>Established and administered by a non-profit association for the benefit of 
                multiple beneficiaries</li>
              <li>A separate account is maintained for each beneficiary of the pooled SNT, but the 
                administrator pools the assets of all accounts for purposes of investment and 
                management.</li>
              <li>A master trust agreement governs the separate accounts of all SNT beneficiaries 
                under a "joinder" document.</li>
              <li>The beneficiary of a first-party account must meet the government’s definition of 
                “disabled.”</li>
              <li>If the beneficiary is sixty-five years of age or older, most states do impose an 
                eligibility penalty in that situation.</li>
              <li>Contains provisions for reimbursement to the state Medicaid agency upon the death of 
                the beneficiary. However, a percentage of the funds may remain with the non-profit 
                agency.</li>
            </ul></p>
            <p>Pooled trusts are most commonly used when the family of the disabled individual 
              cannot choose a trustee who will be a good fit for the situation or afford to hire a 
              professional trustee. A family that prefers to see the funds go to other persons with 
              disabilities rather than the state may also choose a pooled trust.</p>
            <p>For additional information click on the below link
              <br>
              <a href="https://www.specialneedsalliance.org/the-voice/two-different-types-of-special-needs-trusts/">
                An Overview on the Two Different Types of Special Needs Trusts</a>
              <br>
              <a href="https://www.attorneyhoyle.com/special-needs-trusts.html">
                Special Needs Trusts</a>
            </p>

            <h4 id="Revocable_and_Irrevocable_Trust"><li>Revocable and Irrevocable Trust</li></h4>
            <p>With a <b>Revocable Trust</b>, you can change, alter or revoke provisions on the 
              trust at any time. Only a third-party trust can be either revocable or irrevocable as 
              the assets in the trust do not belong to the person with disabilities. A revocable 
              trust is advantageous as it provides you with some degree of flexibility, as you can 
              manage the trust according to your will and your needs. However, since a revocable 
              trust is part of the grantor estate, the state can try to sue if the grantor owes 
              money to claim benefits from the trust as part of the grantor estate.</p>
            <p>An <b>Irrevocable Trust</b>, on the other hand, is less flexible as you cannot 
              remove the assets you place in it. Self-settled trusts must be irrevocable. These 
              assets cannot be touched or spent if not for the benefit of the person with 
              disabilities. The advantage of an irrevocable trust is that creditors cannot claim 
              benefits of the trust as the trust is not counted as being part of the grantor or 
              beneficiary’s estate.</p>
            <p>For additional information click on the below link
              <br>
              <a href = "https://www.investopedia.com/terms/r/revocabletrust.asp#:~:text=A%20revocable%20trust%20is%20a,the%20beneficiaries%20of%20the%20trust">
                Revocable Trust Definition</a>
            </p>

            <h4 id="Guardianship_and_Conservatorship"><li>Guardianship and Conservatorship</li></h4>
            <p>Based on the individual with disability mental capacity and specific needs, 
              parents must apply for full or partial guardianship or conservatorship to maintain 
              legal control over financial and healthcare decisions once a dependent reaches the 
              age of adulthood based on the state law. This is a lengthy process that requires 
              several steps and the involvement of multiple parties; thus, it is recommended to 
              start the process at least a year before the child reaches adulthood.</p>

            <h5 id="Guardianship">Guardianship</h5>
            <p>Guardianship is an option for persons who are incapable of making decisions pertaining to 
              their personal affairs. A guardianship is a legal relationship in which the court 
              appoints a person to care for another. A guardian may be appointed for a minor if the 
              legal parents are unfit or for an adult if they are incapacitated. An appointment for 
              guardianship may be limited in scope or general. For example, a limited guardianship 
              order allows an incapacitated person to participate in decision-making to the 
              greatest extent possible. A general order means an incapacitated person is no longer 
              competent to make decisions on her own accord. The court will consider limits on the 
              guardianship based on the incapacitated person's abilities.</p>
            <p>For additional information click on the below link
              <br>
              <a href="https://www.gnplawoffice.com/legal-guardianship-in-massachusetts.html">
                Legal Guardianship in Massachusetts | Milton Family Lawyer George N. Papachristos</a>
            </p>

            <h5 id="Conservatorship">Conservatorship</h5>
            <p>Conservatorship is a legal process in which the Massachusetts Probate and Family 
              Court appoints a person—called a Conservator—to make certain decisions on behalf of 
              someone who is mentally or physically unable to make informed financial decisions and 
              have income from sources other than government benefit support. A conservator only 
              manages financial affairs.</p>
            <p>Obtaining a conservatorship requires an applicant to present a medical certificate 
              to the court, demonstrating the scope of the conservatorship needed to care for the 
              protected person. </p>
            <p>Courts heavily scrutinize conservatorship petitions, and it can take months for a 
              conservatorship petition to be granted. Because of the heavy scrutiny and potentially 
              lengthy legal process, you should hire an experienced attorney to help you obtain a 
              conservatorship order for your loved one if you believe they're unable to care for 
              themselves in certain areas.</p>
            <p>For additional information click on the below link
              <br>
              <a href="https://www.gnplawoffice.com/conservatorship-in-massachusetts.html">
                Conservatorship in Massachusetts | Milton Family Law Lawyer George N. Papachristos</a>
            </p>

            <h4 id="Letter_of_Intent"><li>Letter of Intent</li></h4>
            <p>The letter of intent or letter of instruction is intended to compile as much 
              information as possible on the child. In the letter, parents leave detailed 
              instructions for future care providers with the knowledge and insight needed to 
              increase the likelihood of good choices to maximize the child's quality of life and 
              avoid the need for caregivers to learn by trial and error. A child also may 
              participate in creating the letter of intent so that his or her wishes are 
              acknowledged and recorded.</p>
            <p>A well thought out letter of intent often includes a medical component and a 
              practical piece and, at a minimum, should contain the following:
              <ul>
                <li>A family history</li>
                <li>Resources that assist persons with disabilities in your child's local area, 
                  including public agencies, churches, individuals, and private organizations.</li>
                <li>Residential care needs for your child, including past and present accommodations 
                  and expected future needs.</li>
                <li>Educational information</li>
                <li>Employment guidance</li>
                <li>Social and recreational activities your child enjoys</li>
                <li>A typical day in the life of your child</li>
                <li>Medical information</li>
                <li>Parents’ final expression of love, hope, and desires for their child.</li>
              </ul>
            </p>
            <p>For additional information click on the below link
              <br>
              <a href="https://www.specialneedsalliance.org/the-voice/letter-of-intent-4/#:~:text=An%20important%20companion%20piece%20to,and%20particular%20likes%20and%20dislikes">
                The Special Needs Letter of Intent | Special Needs Alliance</a>
            </p>
          </ol>
          

          <h2 id="Financial_Planning"><b>Financial Tools</b></h2>
          <ol type="I">
            <img src = "..\static\images\nestegg.jpg" style="max-width:100%; max-height:300px;
                padding-bottom:10px;display:block;margin-left:auto;margin-right:auto;"/>
            <p>Image Author: Karenfoleyphotography Image Source: 
              https://www.kiplinger.com/article/retirement/t037-c000-s004-retirees-prepare-your-nest-egg-to-fight-inflation.html</p>
            <h4 id="Account_types"><li>Account types</li></h4>
            <p>Custodial accounts and joint bank accounts are accounts that require a 
              beneficiary to be named. They may be a good choice for some parents as it can facilitate the 
              estate planning process and it allows parents to transfer part of their assets to 
              their child in a very simple manner and often without the assistance of 
              an attorney.  However, the issue with these accounts for parents of children of 
              disabilities is that they <b>cannot</b> name their child as the beneficiary of these 
              accounts as the assets in the accounts will count in the review of eligibility for 
              state benefits. Thus, if the asset value is over the limit set by the state to access 
              public benefit, it may disqualify the individual with disability from receiving public 
              benefits.</p>
            <p>If parents or family members would like to save or transfer part of their assets to 
              the individual with disability, they need to use the <b>right</b> account to do so 
              by setting up an ABLE account. </p>

            <h5 id="Custodial_Account">Custodial Account</h5>
            <p>A custodial account may be a savings or investing account at a financial 
              institution, a mutual fund, or a brokerage account maintained by a custodian (also 
              referred to as the administrator or fiduciary of the account) on behalf of a 
              beneficiary (the minor). The custodian of the account is bound ethically and legally 
              to act on behalf of the beneficiary's best interests. The fiduciary is 
              responsible for the account until the minor becomes an adult (usually between 18-21 
              years of age depending upon the state laws). To conduct a transaction, the minor must 
              request approval from the custodian.</p>
            <p>There are two types of custodial accounts:
              <ul>
                <li>Uniform Transfer to Minor Act (UTMA). This account includes a diverse type of 
                  assets including tangible assets, intangible assets, and financial assets.</li>
                <li>Uniform Gifts to Minor Act (UGMA). This account is limited to financial assets 
                  such as cash, securities, stocks, bonds, or mutual funds—annuities, and insurance 
                  policies</li>
              </ul>
            </p>
            <p>Custodial accounts have several advantages for parents:
              <ul>
                <li>There are no income or contribution limits</li>
                <li>No requirements to make regular distributions at any point</li>
                <li>There are no withdrawal penalties</li>
                <li>Funds are not limited to a specific category but can be used "for the benefit 
                  of the minor"</li>
              </ul>
            </p>
            <p>Custodial accounts have also several downsides for parents of children with special 
              needs:
              <ul>
                <li>Once the minor becomes an adult, he will have full access and ownership of the 
                  funds</li>
                <li>It can disqualify an adult with disability from being eligible for 
                  government benefits. To qualify for state benefits, the adult with disability 
                  cannot hold more than $2,000 assets in their name. So, setting up a custodial 
                  account for an individual with disability might not be the best solution.</li>
              </ul>
            </p>
            <p>For additional information click on the below link:
              <br>
              <a href="https://www.investopedia.com/terms/c/custodialaccount.asp">
                Custodial Account Definition</a>
            </p>

            <h5 id="Joint_Bank_Account">Joint Bank Account</h5>
            <p>Joint bank accounts are checking accounts that belong to multiple parties, that can 
              contribute to and use the money in the account.</p>
            <p>A joint account can have several advantages for parents:
              <ul>
                <li>It can facilitate the inheritance process by having direct access to the funds 
                  if one of the share account holders dies</li>
                <li>Parents can monitor and manage the activities of the accounts easily</li>
              </ul>
            </p>
            <p>However, a joint account also has several possible downsides for parents:
              <ul>
                <li>Trust between parties needs to be very strong </li>
                <li>Adding someone to a joint bank account can expose the account holder to the 
                  other person’s debt. The money placed in a joint account, belongs to both account 
                  holders equally, regardless of who deposited the money. Account-holders can 
                  withdraw,  transfer or spend money from the account without the approval or 
                  knowledge of the other account holder on the account.</li>
                <li>Being part of a joint bank account can also jeopardize an individual with 
                  disability eligibility for government benefits. When applying for government 
                  benefits, the state will assess the assets in your name. Even though there are two 
                  account holders on a joint account, in most states, the entire amount on the 
                  account is assumed to belong to the applicant and count as part of their assets. It 
                  might be extremely difficult, especially without a lawyer to prove to the state 
                  that the beneficiary or applicant did not contribute to the joint account or have 
                  direct access to the funds in the account.</li>
              </ul>
            </p>
            <p>For additional information click on the below link
              <br>
              <a href="https://ncler.acl.gov/pdf/SSI%20Benefits%20and%20Ownership%20of%20Joint%20Bank%20Accounts.pdf">
                SSI Benefits and Ownership of Joint Bank Accounts</a>
              <br>
              <a href="https://www.chrishogan360.com/investing/esa-529-comparison">
                529 vs. ESA: Pros, Cons and What's Best For You | Chris Hogan</a>
            </p>

            <h5 id="ABLE_Account">ABLE Account</h5>
            <p>ABLE Accounts are tax-advantaged savings accounts for individuals with disabilities 
              and their families, which were created as a result of “The Achieving a Better Life 
              Experience (ABLE) Act of 2014.”ABLE accounts are the best solutions for parents to 
              save and use funds for the benefit of the account owner (person with a disability) as 
              they are supposed to help maintain or improve the quality of life, health, and 
              basic standard of living of the account owner.</p>
            <p>ABLE accounts have several advantages for parents and here is how it works:
              <ul>
                <li>Money in the account does not count towards assets for SSI/Medicaid</li>
                <li>One account per person</li>
                <li>Disability needs to occur before the age of 26</li>
                <li>The annual cumulative contribution limit is up to $15,000</li>
                <li>No tax deduction </li>
                <li>Anyone can contribute </li>
                <li>Distributions are limited to qualified disability expenses </li>
                <li>Accounts with balances over $100,000 result in a suspension in federal 
                  Supplemental Security Income (SSI) benefits.</li>
              </ul>
            </p>
            <p>ABLE accounts also have some possible downsides:
              <ul>
                <li>Repayment to the state for unused funds  remaining in the account on the death 
                  of the beneficiary is required if the beneficiary received Medicaid after the 
                  creation of the ABLE account</li>
              </ul>
            </p>
            <p>For additional information click on the below link
              <br>
              <a href="https://www.fidelity.com/viewpoints/personal-finance/special-needs-savings">
                Savings for a loved one with a disability | Fidelity</a>
            </p>

            <h4 id="Public_Benefits"><li>Public Benefits</li></h4>
            <p>Adults with disabilities most often qualify and are eligible for government 
              benefits. Thus, it is crucial to get familiar with the requirements and eligibility 
              to obtain such benefits ahead of time to avoid delays in receiving the benefits when 
              the child reaches the age of adulthood according to state laws. The next step will be 
              to apply for the benefits when it is time. Access to these benefits are crucial as 
              they can help maintain and enhance the individual with disability' lifestyle.</p>

            <h5 id="Medicaid">Medicaid</h5>
            <p>Massachusetts Medicaid (MassHealth) pays for health care for certain low- and 
              medium-income people living in Massachusetts. MassHealth offers health-care benefits 
              directly or by paying part or all of your health insurance premiums. Upon reaching 18 years of age,
              individuals are eligible for Medicaid.  In Massachusetts, SSI eligibility 
              automatically entitles the SSI recipient to MassHealth. MassHealth eligibility is 
              required to access a range of adult services and supports such as doctor's 
              visits, prescription drugs, hospital stays, and many other important services.</p>

            <h5 id="Social_Security_Income">Social Security Income</h5>
            <img src = "..\static\images\socialsecurity.png" style="max-width:100%;
                max-height:300px;padding-bottom:10px;display:block;margin-left:auto;margin-right:auto;"/>
            <p>Image Source: https://faq.ssa.gov/en-US/</p>
            <p>Supplemental Security Income is a federal government cash assistance program 
              offered in Massachusetts by Health and Human Services. SSI provides a minimum monthly 
              benefit payment, which varies based on living arrangements and income according to 
              the guidelines of the state. Eligibility for SSI requires that the person be over 65, 
              blind or disabled, and with limited resources. Cash and public assistance are offered 
              for basic living needs and bills. The beneficiary cannot exceed $2,000 in resources 
              to remain qualified for receiving benefits. </p>

            <h5 id="Social_Security_Disability_Income">Social Security Disability Income</h5>
            <p>Social Security Disability Insurance is funded through payroll taxes. SSDI 
              recipients are considered "insured" because they have worked for a certain number of 
              years and have made contributions to the Social Security trust fund. SSDI candidates 
              must be younger than 65 and have earned a certain number of "work credits". Under 
              SSDI, a disabled person's spouse and dependent children are eligible to receive 
              partial dependent benefits, called auxiliary benefits. However, only adults over the 
              age of 18 can receive the SSDI disability benefit.</p>

            <h4 id="Other_Public_Programs"><li>Other Public Programs</li></h4>
            <h5 id="Adult_Family_Care">Adult Family Care</h5>
            <p>The AFC program helps elders and people with disabilities receive assistance through 
              live-in caregivers. Each participant lives with a caregiver, who is responsible for 
              meeting that person's daily needs. In return, the caregiver receives a tax-free 
              stipend, along with two weeks of paid time off annually.</p>
            <p>AFC has the following eligibility requirements:
              <ul>
                <li>Participants must be eligible for MassHealth Standard or CommonHealth.</li>
                <li>Participants must be unable to live alone and require assistance with one or 
                  more activities of daily living.</li>
                <li>Participants must be at least 16 years old.</li>
                <li>The caregiver must live with the participant.</li>
                <li>The caregiver cannot be a spouse or legal guardian.</li>
                <li>Caregiver must be at least 18 years old</li>
              </ul>
            </p>

            <h5 id="Personal_Care_Attendant">Personal Care Attendant</h5>
            <p>The PCA program helps people with disabilities manage their care by providing funds 
              for participants to hire personal care attendants. The participant’s weekly budget of 
              PCA hours is determined during the enrollment process. Once the enrollment is 
              approved by MassHealth, the participant is free to hire care providers, who can be 
              friends, family members, or someone else of their choosing.</p>
            <p>In this model, the consumer (or their surrogate) is responsible for recruiting, 
              training, and scheduling the PCAs, whereas the enrolling agency is responsible for 
              skills training and annual re-determination of the arrangement.</p>
            <p>The PCA program also has the following eligibility requirements:
              <ul>
                <li>Must be eligible for MassHealth Standard or CommonHealth.</li>
                <li>Must require hands-on assistance with two or more activities of daily 
                  living.</li>
                <li>Approval is required by a primary care physician or nurse practitioner and 
                  MassHealth, who must determine that PCA services are medically necessary.</li>
                <li>PCAs cannot be legal guardians, step-parents of a minor, or a spouse.</li>
                <li>No age requirement.</li>
              </ul>
            </p>

            <h5 id="Additional_Public_Programs">Additional Public Programs</h5>
            <p>For a list of public programs click on the below link
              <br>
              <a href="https://www.needhelppayingbills.com/html/massachusetts_public_assistanc.html">
                Massachusetts public assistance</a>
            </p>

            <h5 id="Representative_Payee">Representative Payee</h5>
            <p>Social Security's Representative Payment Program helps beneficiaries who are 
              incapable of managing government benefit funds on their own. An individual with 
              limited mental capacity or people who are unable to manage their finances by 
              themselves are good candidates for this program.  Government benefit checks are sent 
              to the representative payee, who manages the payments and spends them on behalf of 
              the beneficiary. Payees are responsible for keeping clear and accurate records of transactions as 
              they are due to complete a report once a year for the Social Security Administration. </p>
            <p>A representative payee must be careful when owning a joint bank account with a 
              Social Security Income (SSI) recipient because even if they are the payee for an SSI 
              recipient, they should not have a joint bank account with the SSI beneficiary. As it 
              can cause the SSI  recipient to lose their SSI benefits if the funds in that bank 
              account exceed the amount of allowable countable resources for SSI recipients. </p>
            <p>For additional information click on the below link
              <br>
              <a href="https://www.ssa.gov/payee/">
                Social Security - Representative Payee Program</a>
            </p>
          </ol>


          <h2 id="Legal_Information"><b>Legal Information</b></h2>
          <ol type="I">
            <img src = "..\static\images\Legal_Gavel.jpg" style="max-width:100%; max-height:300px;
                padding-bottom:10px;display:block;margin-left:auto;margin-right:auto;"/>
            <h4 id="OBRA_1993"><li>OBRA’1993</li></h4>
            <p>The federal Omnibus Budget Reconciliation Act of 1993, called OBRA '93 for short, is 
              a federal law that affects how people with disabilities can have a Trust and still 
              qualify for Medicaid. The law allows many people with disabilities to place their own 
              money into a trust and become (or remain) eligible for Medicaid and SSI. There are 
              limited ways that people with disabilities can place personal assets into an OBRA 
              trust.</p>
            <p>For additional information click on the below link
              <br>
              <a href="https://www.jdsupra.com/legalnews/new-law-for-special-needs-trusts-now-96021/ABLE">
                New Law for Special Needs Trusts Now Benefiting Individuals | Chambliss, Bahner & Stophel, P.C. - JDSupra</a>
              <br>
              <a href="https://www.irs.gov/government-entities/federal-state-local-governments/able-accounts-tax-benefit-for-people-with-disabilities#:~:text=The%20Achieving%20a%20Better%20Life,pay%20for%20qualified%20disability%20expenses">
                ABLE Accounts - Tax Benefit for People with Disabilities | Internal Revenue Service</a>
            </p>

            <h4 id="Special_Needs_Trust_Fairness_Act"><li>Special Needs Trust Fairness Act</li></h4>
            <p>As of December 13, 2016, a person with mental capacity who also qualifies as 
              disabled, according to the definition of the state, can establish their first-party 
              special needs trust (SNT). Previously, a self-settled trust could only be established 
              by the parent, grandparent, guardian, or by court.</p>
            <p>For additional information click on the below link
              <br>
              <a href="https://www.specialneedsalliance.org/the-voice/the-special-needs-trust-fairness-act-is-finally-law-individuals-with-disabilities-can-now-establish-their-own-trusts/">
                The Special Needs Trust Fairness Act is Finally Law | Special Needs Alliance</a>
            </p>

            <h4 id="ABLE"><li>Achieving a Better Life Experience Act (ABLE)</li></h4>
            <p>The Achieving a Better Life Experience (ABLE) Act of 2014 allows states to create 
              tax-advantaged savings programs for eligible people with disabilities. ABLE 
              accounts allow savings over the $2,000  resource limitation under SSI and 
              MassHealth regulations, to supplement services and pay for qualified disability 
              expenses related to one’s disability. Distributions are tax-free if used for 
              qualified disability expenses.</p>
            <p>For additional information click on the below link
              <br>
              <a href="https://www.ablenrc.org/what-is-able/what-are-able-acounts/">
                What are ABLE Accounts? - ABLE National Resource Center</a>
            </p>

            <h4 id="DMCPA"><li>Disabled Military Child Protection Act (DMCPA)</li></h4>
            <p>The Disabled Military Child Protection Act was signed by President Obama on 
              December 19, 2014. This law allows persons eligible for military pension benefits to 
              provide a survivor benefit for a child with a disability and have it paid to a 
              special needs trust for that child's benefit upon the death of the parent. Before 
              the law was enacted, the benefits could not be assigned to a special needs trust 
              and could jeopardize the child's eligibility for government benefit programs such 
              as Supplemental Security Income (SSI) or Medicaid.</p>
            <p>For additional information click on the below link
              <br>
              <a href="https://www.specialneedsalliance.org/the-voice/disabled-military-child-protection-act-policy-issued/">
                Disabled Military Child Protection Act Policy Issued | Special Needs Alliance</a>
            </p>

            <h4 id="HIPAA"><li>Health Insurance Portability Accountability Act (HIPAA)</li></h4>
            <p>The Health Insurance Portability and Accountability Act of 1996 (HIPAA) is a 
              federal law that required the creation of national standards to protect personal 
              health information from being disclosed without the patient’s consent or knowledge. 
              Release of personal health information must be done in writing with specificity as 
              to the scope of the release as well as the duration the release is to be in 
              effect.</p>
            <p>For additional information click on the below link
              <br>
              <a href="https://www.cdc.gov/phlp/publications/topic/hipaa.html">
                Health Insurance Portability and Accountability Act of 1996 (HIPAA) | CDC</a>
            </p>
          </ol>


          <h2 id="Health_Information"><b>Health Information</b></h2>
          <ol type="I">
            <h4 id="DPOA"><li>Durable Power of Attorney (DPOA)</li></h4>
            <p>A durable power of attorney (DPOA) for a property is useful when a person has a mild 
              or moderate incapacity and is capable of choosing a trusted person to handle his 
              money and other important decisions. The DPOA is a legal document where an adult (the 
              Principal) appoints a trusted person, called an Attorney-in-fact, to act as an agent 
              to manage and protect the adult's money, property, and business affairs, when the 
              adult becomes disabled or incapacitated, or is unable to manage his or her financial 
              matters. The Durable Power of Attorney is revocable at any time by the Principal. A 
              Durable Power of Attorney is legally binding and can be executed without involving 
              the court.</p>
            <p>To execute a Durable Power of Attorney in Massachusetts, you must be 18 years old, 
              of sound mind, and under no constraint or undue influence. Generally, an adult can 
              execute a Durable Power of Attorney if the adult understands that he or she is giving 
              another person the legal authority to manage his or her estate and make financial 
              decisions on the adult's behalf if the adult becomes disabled or incapacitated.</p>
            <p>For additional information click on the below link
              <br>
              <a href="https://www.educationandjuvenilelaw.com/practice-areas/special-needs-estate-planning/">
                Special Needs Estate Planning Lawyer Saugus | Durable Power Of Attorney</a>
            </p>

            <h4 id="Advocate"><li>Advocate</li></h4>
            <p>Individuals may appoint another person to act as their advocate in educational, 
              adult services, or health-related matters. The advocate can obtain documents, attend 
              meetings and advocate on the behalf of the individual. The authority of the advocate 
              is limited to specified areas.</p>

            <h4 id="Health_Care_Proxy"><li>Health Care Proxy</li></h4>
            <p>A health care proxy is a document that names someone you trust as your proxy, or 
              agent, to express your wishes and make health care decisions for you if you are 
              unable to speak for yourself. Naming a proxy can help ensure that you get the health 
              care you prefer if you cannot communicate your wishes. The individual (Principal) may 
              revoke the proxy at any time to terminate the power. A health care proxy goes into 
              effect when the Principal’s doctor determines in writing that the Principal can no 
              longer make or communicate health care decisions.</p>
            <p>You do not have to be terminally ill to designate a health care proxy or for the 
              proxy to make decisions on your behalf. The proxy may also have access to your health 
              records and other information, depending on the permissions you give them. If you 
              want to place restrictions on what your proxy can do or see, you should include these 
              restrictions in your health care proxy document.</p>
            <p>For additional information click on the below link
              <br>
              <a href="https://www.molst-ma.org/forms/the-massachusetts-health-care-proxy-form">
                The Massachusetts Health Care Proxy Form | Massachusetts Medical Orders for Life-Sustaining Treatment</a>
            </p>
          </ol>

          
        </div>
      </div>
    </div>
    <!-- End of info card -->


    <!-- Start of Flexbox -->
    <div class="d-flex flex-row-reverse" style="width: 25%;min-height:200px;max-height:500px;top:56px;position:sticky;">
      <div class = "card">
        <div style="top:1;position:sticky;overflow-y:scroll;overflow-x:hidden;">
          <div class = "card-body">

            <h6><a onclick="javascript:sectionClick()" href="{{ url_for('information') }}#Estate_Planning"><b>Estate Planning</b></a></h6>
            <ol type="I">
              <li><a onclick="javascript:sectionClick()" href="{{ url_for('information') }}#Assets_Management">Assets Management</a></li>
              <li><a onclick="javascript:sectionClick()" href="{{ url_for('information') }}#Special_Needs_Trust">Special Needs Trust</a>
                <ul>
                  <li><a onclick="javascript:sectionClick()" href="{{ url_for('information') }}#First-party_or_self-settled_trust">First-party or self-settled trust</a></li>
                  <li><a onclick="javascript:sectionClick()" href="{{ url_for('information') }}#Third-party">Third-party</a></li>
                  <li><a onclick="javascript:sectionClick()" href="{{ url_for('information') }}#Pool_party">Pool party</a></li>
                </ul>
              </li>
              <li><a onclick="javascript:sectionClick()" href="{{ url_for('information') }}#Revocable_and_Irrevocable_Trust">Revocable and Irrevocable Trust</a></li>
              <li><a onclick="javascript:sectionClick()" href="{{ url_for('information') }}#Guardianship_and_Conservatorship">Guardianship and Conservatorship</a>
                <ul>
                  <li><a onclick="javascript:sectionClick()" href="{{ url_for('information') }}#Guardianship">Guardianship</a></li>
                  <li><a onclick="javascript:sectionClick()" href="{{ url_for('information') }}#Conservatorship">Conservatorship</a></li>
                </ul>
              </li>
              <li><a onclick="javascript:sectionClick()" href="{{ url_for('information') }}#Letter_of_Intent">Letter of Intent</a></li>
            </ol>

            <h6><a onclick="javascript:sectionClick()" href="{{ url_for('information') }}#Financial_Planning"><b>Financial Tools</b></a></h6>
            <ol type="I">
              <li><a onclick="javascript:sectionClick()" href="{{ url_for('information') }}#Account_types">Account types</a>
                <ul>
                  <li><a onclick="javascript:sectionClick()" href="{{ url_for('information') }}#Custodial_Account">Custodial Account</a></li>
                  <li><a onclick="javascript:sectionClick()" href="{{ url_for('information') }}#Joint_Bank_Account">Joint Bank Account</a></li>
                  <li><a onclick="javascript:sectionClick()" href="{{ url_for('information') }}#ABLE_Account">ABLE Account</a></li>
                </ul>
              </li>
              <li><a onclick="javascript:sectionClick()" href="{{ url_for('information') }}#Public_Benefits">Public Benefits</a>
                <ul>
                  <li><a onclick="javascript:sectionClick()" href="{{ url_for('information') }}#Medicaid">Medicaid</a></li>
                  <li><a onclick="javascript:sectionClick()" href="{{ url_for('information') }}#Social_Security_Income">Social Security Income</a></li>
                  <li><a onclick="javascript:sectionClick()" href="{{ url_for('information') }}#Social_Security_Disability_Income">Social Security Disability Income</a></li>
                </ul>
              </li>
              <li><a onclick="javascript:sectionClick()" href="{{ url_for('information') }}#Other_Public_Programs">Other Public Programs</a>
                <ul>
                  <li><a onclick="javascript:sectionClick()" href="{{ url_for('information') }}#Adult_Family_Care">Adult Family Care</a></li>
                  <li><a onclick="javascript:sectionClick()" href="{{ url_for('information') }}#Personal_Care_Attendant">Personal Care Attendant</a></li>
                  <li><a onclick="javascript:sectionClick()" href="{{ url_for('information') }}#Additional_Public_Programs">Additional Public Programs</a></li>
                  <li><a onclick="javascript:sectionClick()" href="{{ url_for('information') }}#Representative_Payee">Representative Payee</a></li>
                </ul>
              </li>
            </ol>

            <h6><a onclick="javascript:sectionClick()" href="{{ url_for('information') }}#Legal_Information"><b>Legal Information</b></a></h6>
            <ol type="I">
              <li><a onclick="javascript:sectionClick()" href="{{ url_for('information') }}#OBRA_1993">OBRA’1993</a></li>
              <li><a onclick="javascript:sectionClick()" href="{{ url_for('information') }}#Special_Needs_Trust_Fairness_Act">Special Needs Trust Fairness Act</a></li>
              <li><a onclick="javascript:sectionClick()" href="{{ url_for('information') }}#ABLE">Achieving a Better Life Experience Act (ABLE)</a></li>
              <li><a onclick="javascript:sectionClick()" href="{{ url_for('information') }}#DMCPA">Disabled Military Child Protection Act (DMCPA)</a></li>
              <li><a onclick="javascript:sectionClick()" href="{{ url_for('information') }}#HIPAA">Health Insurance Portability Accountability Act (HIPAA)</a></li>
            </ol>

            <h6><a onclick="javascript:sectionClick()" href="{{ url_for('information') }}#Health_Information"><b>Health Information</b></a></h6>
            <ol type="I">
              <li><a onclick="javascript:sectionClick()" href="{{ url_for('information') }}#DPOA">Durable Power of Attorney (DPOA)</a></li>
              <li><a onclick="javascript:sectionClick()" href="{{ url_for('information') }}#Advocate">Advocate</a></li>
              <li><a onclick="javascript:sectionClick()" href="{{ url_for('information') }}#Health_Care_Proxy">Health Care Proxy</a></li>
            </ol>

          </div>
        </div>
      </div>
    </div>
    <!-- End of Flexbox -->

      
  </div>
</div>

{% endblock %}
