<!DOCTYPE html>
<html lang="en">

<head>
  {% if title %}
  <title>{{ title }} - Thorough Way</title>
  {% else %}
  <title>Welcome to Thorough Way</title>
  {% endif %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

  <!-- jQuery UI-->
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <!-- Bootstrap files (jQuery first, then Popper.js, then Bootstrap JS) -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
    type="text/css" />
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"
    type="text/javascript"></script>


  <script type="text/javascript">
    /// some script
    function sectionClick(){
      if (window.location.href.includes("#")) {
        var sectionID = window.location.href.split('#');
        $("#"+sectionID[1]).effect("highlight", { color: "#47b1ff" }, 1000);
        $("."+sectionID[1]).effect("highlight", { color: "#47b1ff" }, 1000);
      }

    }
    // jquery ready start
    $(document).ready(function () {

      // This animation only runs on first load of the homepage
      // Accessing the homepage from the menu will *not* execute this animation
      if (window.location.pathname == '/') {
        $(".firstLoad1").fadeOut(0);
        $(".firstLoad2").fadeOut(0);
        $(".firstLoad3").fadeOut(0);
        $(".firstLoad1").fadeIn(1000, function () { $(".firstLoad2").fadeIn(750, function () { $(".firstLoad3").slideDown(750) }) });
      }

      // These can be added to any element you would like to animate
      if (!window.location.href.includes("scroll_to")) {
        $(".fadeable").fadeOut(0);
        $(".slideDown").fadeOut(0);
        $(".fadeable").fadeIn(1000);
        $(".slideDown").slideDown(750);
      }

      $(function () {
        $(".resizable").resizable({
          animate: true
        });
      });

      // jQuery code

      //////////////////////// Prevent closing from click inside dropdown
      $(document).on('click', '.dropdown-menu', function (e) {
        e.stopPropagation();
      });

      // make it as accordion for smaller screens
      if ($(window).width() < 992) {
        $('.dropdown-menu a').click(function (e) {
          e.preventDefault();
          if ($(this).next('.submenu').length) {
            $(this).next('.submenu').toggle();
          }
          $('.dropdown').on('hide.bs.dropdown', function () {
            $(this).find('.submenu').hide();
          })
        });
      }

    }); // jquery end

  </script>

  <style type="text/css">
    html {
      scroll-behavior: smooth;
      scroll-padding-top: 60px;
    }

    @media (min-width: 992px) {
      .dropdown-menu .dropdown-toggle:after {
        border-top: .3em solid transparent;
        border-right: 0;
        border-bottom: .3em solid transparent;
        border-left: .3em solid;
      }

      .dropdown-menu .dropdown-menu {
        margin-left: 0;
        margin-right: 0;
      }

      .dropdown-menu li {
        position: relative;
      }

      .nav-item .submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: -7px;
      }

      .nav-item .submenu-left {
        right: 100%;
        left: auto;
      }

      .dropdown-menu>li:hover {
        background-color: #f1f1f1
      }

      .dropdown-menu>li:hover>.submenu {
        display: block;
      }

      .page-footer {
        position: relative;
        padding: 10px 10px 0px 10px;

      }

      /* Contact form */
      form label {
        font-size: 1.2em;
        font-weight: bold;
        display: block;
        padding: 10px 0;
      }

      form input#name,
      form input#email,
      form input#subject {
        width: 400px;
        background-color: #fafafa;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid #cccccc;
        padding: 5px;
        font-size: 1.1em;
      }

      form textarea#message {
        width: 500px;
        height: 100px;
        background-color: #fafafa;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid #cccccc;
        margin-bottom: 10px;
        padding: 5px;
        font-size: 1.1em;
      }

      form input#submit {
        display: block;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid #d8d8d8;
        padding: 10px;
        font-weight: bold;
        text-align: center;
        color: #000000;
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f4f4f4, endColorstr=#e5e5e5);
      }

      form input#submit:hover {
        cursor: pointer;
        border: 1px solid #c1c1c1;
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#dbdbdb, endColorstr=#cccccc);
      }
    }
  </style>

  <script async src="https://cse.google.com/cse.js?cx=6ba78f31420559603"></script>

  {# include library for time display format #}
  {{ moment.include_moment() }}
</head>

<body class="bg-light">

  <div>

    {# Navigation Bar #}
    {% include "includes/nav.html" %}

    {# Flash Messages #}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>
        <h3><b>{{ message }}</b></h3>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {# Content #}
    {% block content %}
    {% endblock %}

    {# Footer Section #}
    {% include "includes/footer.html" %}

  </div>

</body>

</html>