{% extends "layout.html" %}

{% block content %}

<div class="container-fluid  text-center text-md-left mt-5">
    <div class="col-md-12 text-center">
      <div class="gcse-searchresults-only"></div>
    </div>

  </div>

{% endblock %}
