{% extends "layout.html" %}

{% block content %}

<div class="col-md-12 text-center"><h1>Target Audience</h1></div>

<div class = "container">
  <div class = "card">
    <div class = "card-body">

      <img src = "..\static\images\image (2)-large.jpg" style="max-width:100%; max-height:300px;
          padding-bottom:10px;display:block;margin-left:auto;margin-right:auto;"/>
      <h3>Adults with disabilities:</h3>
      <p>Every adult deserves the right to live their life on their terms. This website is intended 
        to empower and encourage persons with disabilities to take control over their lives by 
        obtaining the tools and knowledge necessary to make a comprehensive plan for their future 
        while maintaining their government benefits. </p>

      <h3>Parents and family members of children with disabilities:</h3>
      <img src = "..\static\images\family1.png" style="max-width:100%; max-height:300px;
          padding-bottom:10px;display:block;margin-left:auto;margin-right:auto;"/>
      <p>Parents and family members of persons with disabilities are often the first and most 
        valuable resources for their child with disability. These parents are often extremely 
        busy assuming multiples responsibilities and roles at once: They are parents, employees, 
        in-house nurses, caregivers, educators, advocates, lawyers, social workers and so much 
        more. This is why we wanted to create a centralized platform for people to have easy access 
        to the information resources required to make informed decisions and a comprehensive plan for the future 
        of their loved ones as well as providing a means to connect with other parents in similar situations.</p>

      <h3>Field workers:</h3>
      <p>Persons with disabilities and their family cannot do it all alone, they often require the 
        assistance of professionals including, but not limited to, social workers, speech 
        therapists, occupational therapists, physical therapists, psychologists, chiropractors, 
        physicians, teachers, lawyers, advocates, personal care attendants and financial advisors, 
        which often accompany the child and the family for an extended period of time. We believe that 
        these professionals must learn and become informed and knowledgeable about the needs of 
        their clients to be as helpful to these families as possible. Families often have 
        difficulty finding the time and energy needed to compile the information required to 
        create a comprehensive plan for their children. We believe that this is an 
        opportunity for the professionals in these families' lives to be of significant 
        assistance. </p>

    </div>
  </div>
</div>


{% endblock %}
