{% extends "layout.html" %}

{% block content %}
<!-- Page to create a thread -->
<!-- sub navigation bar displaying pages of the forum -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('forum') }}">Main Forum Page</a></li>
    <li class="breadcrumb-item active" aria-current="page">
      <a href="{{ url_for('forum', id=section.id) }}">{{ section.name }}</a>
    </li>
  </ol>
</nav>
<!-- Form is surrounded by a container to center the content -->
<div class = "container" style = "width: 50%;">
  <div class = "card">
    <div class = "card-body">
      <h1>{{ section.name }}</h1>
      <h3>{{ title }}</h3>
      <hr>

      <form action="" method="post">
        {{ form.hidden_tag() }}
        <!-- Enter Topic -->
        <p>
          {{ form.topic.label }}<br>
          {{ form.topic(size=30) }}<br>
          <!-- Display applicable errors -->
          {% for error in form.topic.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <!-- Enter Context of Topic -->
        <p>
          {{ form.body.label }}<br>
          {{ form.body(cols=50, rows=4) }}<br>
          <!-- Display applicable errors -->
          {% for error in form.body.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>

        {% if form.reason %}
        <p>
          {{ form.reason.label }}<br>
          {{ form.reason(cols=50, rows=1) }}<br>
          {% for error in form.reason.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        {% endif %}
        <!-- Submit Button to submit the form -->
        <p>{{ form.submit(class="btn btn-outline-info") }}</p>

      </form>
      <!-- Cancel button to take you back to the thread -->
      <a class="btn btn-outline-info" href="{{ url_for('forum', id=section.id) }}">
        Cancel
      </a>
    </div>
  </div>
</div>


{% endblock %}
