{% extends "layout.html" %}

{% block content %}
<script type="text/javascript">
  // (ADMIN ONLY) Shows sections that have been closed.
  function showClosed() {
    var show_button = document.getElementById("showButton")
    var hide_button = document.getElementById("hideButton")
    var closed_sections = document.getElementById("closedSections")
    show_button.style.display = "none";
    hide_button.style.display = "block";
    closed_sections.style.display = "block";
  }
  // (ADMIN ONLY) Hides closed sections.
  function hideClosed() {
    var show_button = document.getElementById("showButton")
    var hide_button = document.getElementById("hideButton")
    var closed_sections = document.getElementById("closedSections")
    show_button.style.display = "block";
    hide_button.style.display = "none";
    closed_sections.style.display = "none";
  }

</script>


<style>
  /* Float four columns side by side */
  .column {
    float: left;
    width: 100%;
    padding: 0 10px;
  }

  .create_section {
    width:80%;
	margin-left:15%;
	margin-bottom:20px;
  }
  /* Holds both the left hand sections and right hand collection of sections and user stats */
  .outer_row {
    display: flex;
	width:80%;
	margin-left:15%;
	margin-right:5%;
  }
  /* There are 2 outer-col inside outer-row */
  .outer_column {
    width: 50%;
  }

  .inner-column {
    float: left;
    width: 100%;
    padding: 0 10px;
  }

  /* Remove extra left and right margins, due to padding */
  .row {
    margin: 0 -5px;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .container {
    max-width: 1000px;
    margin: 0px;
  }


</style>

<!-- Title of Page -->
<h1 class="display-4 text-center">Welcome to the {{ title }}</h1>

  {# a button for a super account to add a new section #}
  {% if current_user.authority == 'admin'
    or current_user.authority == 'webmaster'%}
<div class="create_section">
  <form action="{{ url_for('create_section') }}" style="margin-left:20px;">
    <input type="submit" class="btn btn-info btn-md" value="Add a New Section (Admin)" />
  </form>
</div>
  {% endif %}

<!-- Outer Row contains both the section posts and interesting sections columns -->
<!-- Specifiacally it contains both of the "outer-col" tabs -->
<div class="outer_row">
  <div class="outer_col">
    <!-- Contains a list of all of the sections -->
    {% for section in sections %}
    <div class="container slideDown">
      <div class="row">
        <div class="column">
          <!-- Card will link to appropriate card on click and will make the mouse into a pointer -->
          <div class="card" onclick="location.href='{{ url_for(route, id=section.id) }}';" style="cursor: pointer;">
            <div class="card-body">
              <div class="inner-column">
                <table width="100%">
                  <tr>
                    <td>
                      <!-- Name of the section -->
                      <h4>{{ section.name }}</h4>
                      <!-- Information about section -->
                      {% if section.slogan %}
                      <span style="color: #718096">
                        {{ section.slogan }}
                      </span>
                      {% endif %}
                    </td>

                    <td style="width:10%; text-align:right">
                      {# how many threads in this section #}
                      {% with thread_count = section.thread_count() %}
                      {{ thread_count }}
                      <br>
                      {% if thread_count > 1 %}
                      threads
                      {% else %}
                      <span style="color: #718096">
                        thread
                      </span>
                      {% endif %}
                      {% endwith %}
                    </td>

                    {# the newest thread posted in this section #}
                    {% with newest_thread = section.newest_thread() %}
                    <td style="width:9%">
                      {% if newest_thread != None %}
                      <img src="{{ newest_thread.topic_post().author.avatar(48) }}" class="d-block ui-w-40 rounded-circle" alt="" style="margin-left: auto; margin-right: auto;">
                      {% endif %}
                    </td>

                    <td style="width:25%">
                      {% if newest_thread != None %}
                      <a href="{{ url_for('thread', id=newest_thread.id) }}">{{ newest_thread.topic }}</a>
                      <span style="color: #718096">
                        <br>
                        {{ newest_thread.author().displayname }}
                        <br>
                        {% with time = newest_thread.timestamp() %}
                        {% include "includes/_time.html" %}
                        {% endwith %}
                      </span>
                      {% endif %}
                    </td>
                    {% endwith %}

                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    {% endfor %}


    {% if closed_sections|length > 0 and
      (current_user.authority == 'admin' or current_user.authority == 'webmaster') %}
    <!-- (ADMIN ONLY) Will display closed sections on click of this button -->
    <div style="margin-bottom:20px;margin-left:20px;"><button class="btn btn-info btn-md" onclick="showClosed()" id="showButton">
      Show Closed Sections (Admin)
    </button></div>
    <!-- (ADMIN ONLY) Will hide closed sections on click of this button -->
	<div style="margin-bottom:20px;margin-top:-20px;margin-left:20px;">
    <button class="btn btn-info btn-md" onclick="hideClosed()" id="hideButton" style="display: none;">
      Hide Closed Sections (Admin)
    </button>
	</div>
    <!-- Closed sections -->
    <div id="closedSections" style="display: none;">
      <!-- Loops through all of the closed sections -->
      {% for section in closed_sections %}
      <div class="container">
        <div class="row">
          <div class="column">
            <div class="card" onclick="location.href='{{ url_for(route, id=section.id) }}';" style="cursor: pointer;">
              <div class="card-body">
                <div class="inner-column">
                  <table width="100%">
                    <tr>
                      <td>
                        <h4>{{ section.name }}</h4>
                        {% if section.slogan %}
                        <span style="color: #718096">
                          {{ section.slogan }}
                        </span>
                        {% endif %}
                      </td>

                      <td style="width:10%; text-align:right">
                        {# how many threads in this section #}
                        {% with thread_count = section.thread_count() %}
                        {{ thread_count }}
                        <br>
                        {% if thread_count > 1 %}
                        threads
                        {% else %}
                        <span style="color: #718096">
                          thread
                        </span>
                        {% endif %}
                        {% endwith %}
                      </td>

                      {# the newest thread posted in this section #}
                      {% with newest_thread = section.newest_thread() %}
                      <td style="width:9%">
                        {% if newest_thread != None %}
                        <img src="{{ newest_thread.topic_post().author.avatar(48) }}" class="d-block ui-w-40 rounded-circle" alt="" style="margin-left: auto; margin-right: auto;">
                        {% endif %}
                      </td>

                      <td style="width:25%">
                        {% if newest_thread != None %}
                        <a href="{{ url_for('thread', id=newest_thread.id) }}">{{ newest_thread.topic }}</a>
                        <span style="color: #718096">
                          <br>
                          {{ newest_thread.author().displayname }}
                          <br>
                          {% with time = newest_thread.timestamp() %}
                          {% include "includes/_time.html" %}
                          {% endwith %}
                        </span>
                        {% endif %}
                      </td>
                      {% endwith %}

                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      {% endfor %}
    </div>


    {% endif %}
  </div>
  <!-- Beginning of Right hand Side bar -->
  <div class="outer_col">
    <!-- One card per section -->
    <div class="card">
      <div class="card-body">
        <!-- Title of Specific Section -->
        <h3>Current Hot Topics:</h3>
        <br>
        {% for thread in hot_threads %}
        <table>
          <tr>
            <td>
              <!-- Image for the section -->
              <img src="{{ thread.topic_post().author.avatar(48) }}" class="d-block ui-w-40 rounded-circle" alt="" style="margin-left: auto; margin-right: auto;">
            </td>
            <td>
              <a href="{{ url_for('thread', id=thread.id) }}">{{ thread.topic }}</a>
              <span style="color: #718096">
                <br>
                <!-- Displays Author's name -->
                {{ thread.author().displayname }}
                <br>
                <!-- Displays a timestamp -->
                {% with time = thread.timestamp() %}
                {% include "includes/_time.html" %}
                {% endwith %}
              </span>
            </td>

          </tr>
        </table>
        {% endfor %}
      </div>
    </div>
    <!-- new specific section -->
    <div class="card">
        <!-- Contents of card -->
      <div class="card-body">
        <!-- Beginning of User Statistics Section -->
        <h3>User Statistics:</h3>
        <br>
        <table>
          <tr
            <td><b>Total Users:</b></td>
            <td style="text-align:right; padding: 0px 10px;">{{ total_users}}</td>
          </tr>
          <tr>
            <td style="padding-left:10px;">
              <img src="{{ new_user.avatar(48) }}" class="d-block ui-w-40 rounded-circle" alt="">
            </td>
            <td style="text-align:right; padding: 0px 10px;">
              <span style="color: #718096">New User</span><br>
              <a href="{{ url_for('user', username=new_user.username) }}">
                {{ new_user.displayname }}
              </a><br>
              <span style="color: #718096">Joined
                {% with time = new_user.member_since %}
                {% include "includes/_time.html" %}
                {% endwith %}
              </span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <!-- End of Side bar -->


</div>

{% endblock %}
