{% extends "layout.html" %}

{% block content %}

<script type="text/javascript">
  // Shows hidden forms
  // In the section paret of the forum, the admin has the ability to show and hide sections
  function showForm() {
    var section_info = document.getElementById("sectionInfo")
    var edit_button = document.getElementById("editButton");
    var edit_form = document.getElementById("editForm")
    section_info.style.display = "none"
    edit_button.style.display = "none";
    edit_form.style.display = "block";
  }
  // Hides forms from the user
  function hideForm() {
    var section_info = document.getElementById("sectionInfo")
    var edit_button = document.getElementById("editButton");
    var edit_form = document.getElementById("editForm")
    section_info.style.display = "block"
    edit_button.style.display = "block";
    edit_form.style.display = "none";
  }
</script>

<!-- sub navigation bar displaying pages of the forum -->
{# forum navigation #}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"><a href="{{ url_for('forum') }}">
        Main Forum Page</a></li>
  </ol>
</nav>

<!-- Container centers the content on the page -->
<div class = "container">
{# info of this forum section #}
<div id="sectionInfo">
  <h1>{{ title }}</h1>

  {% if not this_section.closed or
      current_user.authority == 'admin' or
      current_user.authority == 'webmaster' %}

    <p>
    {% if this_section.slogan %}
    {{ this_section.slogan }}
    {% endif %}
    <hr>
    {% if this_section.description %}
    {{ this_section.description }}
    {% endif %}
    <br>
    <br>
    </p>

  {% else %}

    {# when the section is closed and the current user is not a superuser #}
    <span style="color: red;">
      [This section has been closed.]
    </span>

  {% endif %}
</div>

{% if current_user.authority == 'admin'
    or current_user.authority == 'webmaster'%}

  {# the "Edit" button for super users to edit this section #}
  <button class="btn btn-info btn-md" onclick="showForm()" id="editButton">Edit (Admin)</button>

  {# the editing form for the section informations #}
  <div id="editForm" style="display: none;">
    <form action="" method="post">
      {{ form.hidden_tag() }}
      <p>
        {{ form.name.label }}<br>
        {{ form.name(size=30) }}<br>
        <!-- Display Applicable errors -->
        {% for error in form.name.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ form.slogan.label }}<br>
        {{ form.slogan(cols=40, rows=2) }}<br>
        <!-- Display Applicable errors -->
        {% for error in form.slogan.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ form.description.label }}<br>
        {{ form.description(cols=60, rows=5) }}<br>
        {% for error in form.description.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>{{ form.submit(class="btn btn-outline-info", value="Save") }}</p>
    </form>
    <button class="btn btn-outline-info" onclick="hideForm()" id="cancelButton">Cancel</button>
  </div>
  <br>

  {# show form when validators didn't pass after clicking submit button #}
  {% if show_form %}
  <script>
    showForm();
  </script>
  {% endif %}

  {# the button for closing/unclosing the section #}
  {% if this_section.closed %}
  <span style="color: red;">
    [This section has been closed and no longer visible to regular users.]
  </span>
  <br>
  <a class="btn btn-info btn-md" href="{{ url_for('forum', id=id, page=this_page,
      close_section_id=id) }}">Open Section (Admin)</a>
  {% else %}
  <a class="btn btn-info btn-md" href="{{ url_for('forum', id=id, page=this_page,
      close_section_id=id) }}">Close Section (Admin)</a>
  {% endif %}

{% endif %}

<hr>


{% if not this_section.closed or
    current_user.authority == 'admin' or
    current_user.authority == 'webmaster' %}


  {# add a new thread button #}
  <form action="{{ url_for('create_thread', id=id) }}" style="float: right;">
    <input type="submit" class="btn btn-outline-info" value="Add a New Thread" />
  </form>
  <br>

  {# page selection #}
  {% include "includes/pages.html" %}
  <br>

  {% for thread in threads %}
  <div class="card mb-2 slideDown" style="margin: 0 auto; float: none; margin-bottom: 10px;">
    <div class="card-body p-2 p-sm-3">
      <div class="media forum-item">

        {# topic #}
        <div class="media-body">
          <h6>
            {% if thread.closed %}
            🔒
            {% elif thread.pinned %}
            📌
            {% endif %}
            <a href="{{ url_for('thread', id=thread.id) }}">{{ thread.topic }}</a>
          </h6>
        </div>

        {# replies #}
        <p>
          {% with reply_count = thread.reply_count() %}
          {{ reply_count }}
          {% if reply_count > 1 %}
          replies
          {% else %}
          reply
          {% endif %}
          {% endwith %}
          <br>

          {# views #}
          {% with views = thread.views() %}
          {{ views }}
          {% if views > 1 %}
          views
          {% else %}
          view
          {% endif %}
          {% endwith %}
        </p>

        {# author info #}
        <div class="text-muted small text-center align-self-center">
          <img src="{{ thread.author().avatar(32) }}" class="d-block ui-w-40 rounded-circle" alt="">
          {{ thread.author().displayname }}<br>
          <span class="d-none d-sm-inline-block">
            {% with time = thread.timestamp() %}
              {% include "includes/_time.html" %}
            {% endwith %}
          </span>
        </div>

      </div>
    </div>
  </div>
  {% endfor %}

  {# page selection #}
  {% include "includes/pages.html" %}
</div>

{% endif %}

{% endblock %}
