{% extends "layout.html" %}

{% block content %}
<!-- Legal Page -->
<div class="row">
    <div class="col-md-12 text-center">
        <h1>Legal</h1>
        <hr>
        <div class = "col">
          <div class = "card">
            <div class = "card-body"></div>
          </div>
        </div>
        <div class = "col">
          <div class ="container">
            <h3>Legislation</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet commodo posuere. Nulla magna lectus,
                  porttitor in odio et, lacinia ullamcorper quam. Nullam posuere quam in posuere pretium. Nunc sit amet porta
                  neque, ut pulvinar arcu. Nam vehicula massa mi, quis vehicula urna vulputate nec. Sed nec velit ut justo
                  eleifend aliquet. Praesent ac leo sit amet ligula auctor fringilla et at tortor. Aenean id cursus dolor, vel
                  consequat erat. Donec quis consectetur orci. Ut ac fringilla lacus, non interdum quam.</p>
            <h3>Governmment Benefits</h3>
              <p> Suspendisse eget eros a enim sollicitudin ullamcorper sed ac erat. Aenean vestibulum ex eu vestibulum porta.
                  Ut sodales rhoncus sollicitudin. Aenean ut euismod lacus, in auctor neque. Nam vitae varius ipsum. Ut
                  commodo leo at elit hendrerit molestie. Curabitur tempus tortor nibh, sit amet sollicitudin nibh fermentum
                  id. Integer vitae egestas lectus. Sed sit amet sapien vitae neque mollis imperdiet vel eu nisl. Nulla
                  bibendum urna ac viverra convallis. Curabitur scelerisque commodo varius.</p>
            <h3>Decision Processes</h3>
              <p>Morbi dignissim arcu risus, sit amet gravida purus feugiat sed. Ut molestie dapibus lorem in sodales. Integer sit
                  amet purus eros. Nullam pretium justo non elementum finibus. Nunc vehicula tortor diam, eget maximus odio
                  euismod eu. Maecenas ut magna iaculis ante imperdiet viverra nec in nulla. Pellentesque habitant morbi tristique
                  senectus et netus et malesuada fames ac turpis egestas. Aenean at lacinia ante. Pellentesque sagittis nisi
                  sagittis ultrices gravida.</p>
          </div>
        </div>
    </div>

</div>
<style>
  .row {
    display: flex;
  }
</style>
{% endblock %}
