{% extends "layout.html" %}

{% block content %}

<div class="row">
    <div class="col-md-12 text-center">
        <h1>Page Not Found</h1>
        <hr>
        <div class="container">
		  <img src = "..\static\images\image.png" style="max-width:100%; max-height:300px;padding-bottom:10px;"/>
          <p>You may have had the wrong URL, or this is a page you're not able to access!<br/>
		  If you think you should be able to see this page, log in and try again.</p>
		  <p><a href="{{ url_for('index') }}">Back Home</a></p>
        </div>
    </div>

</div>

{% endblock %}