{% extends "layout.html" %}

{% block content %}

<div class="row">
    <div class="col-md-12 text-center">
        <h1>Unexpected Error</h1>
        <hr>
        <div class="container">
		  <img src = "..\static\images\image.png" style="max-width:100%; max-height:300px;padding-bottom:10px;"/>
          <p>An unexpected error has occurred. Sorry for the inconvenience.</p>
		  <p><a href="{{ url_for('index') }}">Back Home</a></p>
        </div>
    </div>

</div>

{% endblock %}