<!-- Nav Bar adapted from https://bootstrap-menu.com/detail-multilevel.html -->
<nav class="firstLoad1 navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd; position: sticky; top: 0; z-index: 999;">

    <a class="firstLoad3 navbar-brand" href="{{ url_for('index') }}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main_nav">


        <ul class="navbar-nav">



            <!-- Start of Home Tab -->
            <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}"> Home </a></li>
            <!-- End of Home Tab -->


            <!-- Start of Concepts Tab -->
            <li class="nav-item"><a class="nav-link" href="{{ url_for('concepts') }}"> Important Concepts </a></li>
            <!-- End of Concepts Tab -->

            
            <!-- Start of About Tab-->
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"> About Us </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ url_for('index') }}#overview"> Overview </a></li>
                <li><a class="dropdown-item" href="{{ url_for('index') }}#mission_statement"> Mission Statement </a></li>
              </ul>
            </li> -->
            <!-- End of About Tab -->



            <!-- Start of Information Tab -->
            <li class="nav-item"><a class="nav-link" href="{{ url_for('information') }}"> Special Needs Planning </a></li>
            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"> Information </a>
                <ul class="dropdown-menu">


                  <li><a class="dropdown-item dropdown-toggle" href="{{ url_for('information') }}"> Asset Management </a>
                      <ul class="submenu dropdown-menu">

                        <li><a class="dropdown-item dropdown-toggle" href="{{ url_for('information') }}#financial_wealth_management"> Financial Wealth Management </a>
                          <ul class="submenu dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url_for('information') }}#custodial_accounts">Custodial Accounts</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('information') }}#joint_bank_accounts">Joint Bank Accounts</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('information') }}#representitive_payee">Representitive Payee</a></li>
                          </ul>
                        </li>



                        <li><a class="dropdown-item dropdown-toggle" href="{{ url_for('information') }}#financial_investments_and_savings"> Financial Investments & Savings </a>
                          <ul class="submenu dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url_for('information') }}#able_accounts"> ABLE Accounts </a></li>
                            <li><a class="dropdown-item" href="{{ url_for('information') }}#life_insurance"> Life Insurance</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('information') }}#retirement"> Retirement </a></li>
                          </ul>
                        </li>

                        <li><a class="dropdown-item dropdown-toggle" href="{{ url_for('information') }}#special_needs_trust"> Special Need Trust </a>
                          <ul class="submenu dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url_for('information') }}#first_party">First Party</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('information') }}#third_party">Third Party</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('information') }}#pool_party">Pool Party</a></li>
                          </ul>
                        </li>
                        <li><a class="dropdown-item" href="{{ url_for('information') }}#revocable_trust">Revocable Trust</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('information') }}#wills">Wills</a></li>
                      </ul>
                    </li>

                    <li><a class="dropdown-item dropdown-toggle" href="{{ url_for('information') }}#wills"> Legal Information </a>
                        <ul class="submenu dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url_for('information') }}#obra_act">OBRA Act</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('information') }}#able_act">ABLE Act</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('information') }}#disabled_military_child_protection_act">Disabled Military Child Protection Act</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('information') }}#hippa_act">HIPPA Act</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('information') }}#durable_power_of_attorney">Durable Power of Attourney</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('information') }}#advocate">Advocate</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('information') }}#healthcare_proxy">Healthcare Proxy</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('information') }}#guardianship_designation">Guardianship Designation</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('information') }}#conservatorship">Conservatorship</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('information') }}#letter_of_intent">Letter of Intent</a></li>
                        </ul>
                    </li>

                    <li><a class="dropdown-item dropdown-toggle" href="{{ url_for('information') }}#government_benefits"> Government Benefits </a>
                      <ul class="submenu dropdown-menu">
                        <li><a class="dropdown-item dropdown-toggle" href="{{ url_for('information') }}#state_requirements">State Requirements</a>
                          <ul class="submenu dropdown-menu">
                              <li><a class="dropdown-item" href="{{ url_for('information') }}#medicaid">Medicaid</a></li>
                              <li><a class="dropdown-item" href="{{ url_for('information') }}#social_security_disability_income">Social Security Income</a></li>
                              <li><a class="dropdown-item" href="{{ url_for('information') }}#social_security_disability_income">Social Security Disability Income </a></li>
                              <li><a class="dropdown-item dropdown-toggle" href="{{ url_for('information') }}#sliding_scale_free_benefits">Sliding Scale Free Benefits </a>
                                  <ul class="submenu dropdown-menu">
                                      <li><a class="dropdown-item" href="{{ url_for('information') }}#food_stamps">Food Stamps</a></li>
                                      <li><a class="dropdown-item" href="{{ url_for('information') }}#section_8_housing_vouchers">Section 8 Housing Vouchers</a></li>
                                      <li><a class="dropdown-item" href="{{ url_for('information') }}#adult_family_care">Adult Family Care</a></li>
                                      <li><a class="dropdown-item" href="{{ url_for('information') }}#personal_care_assistance">Personal Care Assistance</a></li>
                                  </ul>
                              </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                </ul>
            </li> -->
            <!-- End of Information Tab -->


            <!-- Start of Target Audience Tab -->
            <li class="nav-item"><a class="nav-link" href="{{ url_for('targetaudience') }}"> Target Audience </a></li>
            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"> Target Audience </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{ url_for('targetaudience') }}#adults_with_special_needs"> Adults with Special Needs </a></li>
                    <li><a class="dropdown-item" href="{{ url_for('targetaudience') }}#parents_of_children_with_special_needs"> Parents of Children with Special Needs </a></li>
                    <li><a class="dropdown-item" href="{{ url_for('targetaudience') }}#field_workers"> Field Workers </a></li>
                </ul>
            </li> -->
            <!-- End of Target Audience Tab -->

            <!-- Start of Resources Map tab -->
            <li class="nav-item"><a class="nav-link" href="{{ url_for('resources') }}"> Resources Map </a></li>
            <!-- End of Resources Map tab -->


            <!-- Start of Calendar/Events Tab -->
            <li class="nav-item"><a class="nav-link" href="{{ url_for('calendarevents') }}"> Calendar/Events </a></li>
            <!-- End of Calendar/ Events Tab -->

            <!-- Start of Contact Tab -->
            <li class="nav-item"><a class="nav-link" href="{{ url_for('contactUs') }}"> Contact Us </a></li>
            <!-- End of Contact Tab -->



            <!-- Start of Forum Tab -->
            <li class="nav-item"><a class="nav-link" href="{{ url_for('forum') }}">Forum</a></li>
            <!-- End of Forum Tab -->



        </ul>


        <ul class="navbar-nav ml-auto">

          <!-- Start of Language Tab -->
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"> Language </a>
              <ul class="dropdown-menu">
                <script>
                  // Auto detect language to spanish
                  function es_translate(){
                    var pretranslate_link = "https://translate.google.com/translate?sl=auto&tl=es&u="
                    var current_link = window.location.href;
                    full_link = pretranslate_link.concat(current_link);
                    window.open(full_link);
                   }
                   // auto detect language to french
                    function fr_translate(){
                    var pretranslate_link = "https://translate.google.com/translate?sl=auto&tl=fr&u="
                    var current_link = window.location.href;
                    full_link = pretranslate_link.concat(current_link);
                    window.open(full_link);
                   }
                   // auto detect langage to vietmanese
                   function vi_translate(){
                    var pretranslate_link = "https://translate.google.com/translate?sl=auto&tl=vi&u="
                    var current_link = window.location.href;
                    full_link = pretranslate_link.concat(current_link);
                    window.open(full_link);
                   }
                   // Auto Detect Language to haitan creole
                    function zh_translate() {
                    /*Chinese*/
                    var pretranslate_link = "https://translate.google.com/translate?sl=auto&tl=zh&u="
                    var current_link = window.location.href;
                    full_link = pretranslate_link.concat(current_link);
                    window.open(full_link);
                   }
                   //Auto Detect language to hatian creole
                   function ht_translate() {
                   var pretranslate_link = "https://translate.google.com/translate?sl=auto&tl=ht&u="
                   var current_link = window.location.href;
                   full_link = pretranslate_link.concat(current_link);
                   window.open(full_link);
                  }

                  //Auto Detect language to portugese
                  function pt_translate() {
                  var pretranslate_link = "https://translate.google.com/translate?sl=auto&tl=pt&u="
                  var current_link = window.location.href;
                  full_link = pretranslate_link.concat(current_link);
                  window.open(full_link);
                 }

                 //Auto Detect language to Arabic
                 function ar_translate() {
                 var pretranslate_link = "https://translate.google.com/translate?sl=auto&tl=ar&u="
                 var current_link = window.location.href;
                 full_link = pretranslate_link.concat(current_link);
                 window.open(full_link);
                }

                </script>
                  <li><a class="dropdown-item" href="#" onclick = "es_translate()"> Espanol </a></li>
                  <li><a class="dropdown-item" href="#" onclick = "fr_translate()"> Française </a></li>
                  <li><a class="dropdown-item" href="#" onclick = "vi_translate()"> Tiếng Việt </a></li>
                  <li><a class="dropdown-item" href="#" onclick = "zh_translate()"> 简体中文 </a></li>
                  <li><a class="dropdown-item" href="#" onclick = "ht_translate()"> kreyòl ayisyen </a></li>
                  <li><a class="dropdown-item" href="#" onclick = "pt_translate()"> Português </a></li>
                  <li><a class="dropdown-item" href="#" onclick = "ar_translate()"> العربية </a></li>
              </ul>
          </li>
          <!-- End of Language Tab -->

            <!-- Google Search form -->
            <form class="form-inline my-2 my-lg-0">
                <div class="gcse-searchbox-only" data-resultsUrl="../searchresult" enableAutoComplete="true"></div>
            </form>


            <!-- Start of Login Tab -->
            {% if current_user.is_anonymous %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}"> Login </a></li>
            {% else %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"> {{ current_user.displayname }} </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="{{ url_for('user', username=current_user.username) }}">
                            Profile
                        </a>
                    </li>
                    <li><a class="dropdown-item" href="{{ url_for('settings') }}"> Settings </a></li>
                    <li><a class="dropdown-item" href="{{ url_for('logout') }}"> Logout </a></li>
                </ul>
            </li>
            {% endif %}
            <!-- End of Login Tab -->


        </ul>


    </div> <!-- navbar-collapse.// -->

</nav>
